# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.DotSettings.user

# Misc
*.log

# Directories
Cubeland/assets/cache
Cubeland/imgui.ini